<h2>Lista de categorias: </h2>
<hr>
<a href="/admin/categorias/add" <button type="button" name="button" class="btn btn-success">Nova categoria</button></a>

{{#each categorias}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{nome}}</h4>
      <small>Slug: {{slug}}</small><br>
      <small>Postado: {{date}}</small><hr>
        <form action="/admin/categorias/deletar" method="POST">
<div class=" d-md-block">
      <a href="/admin/categorias/edit/{{_id}}"><button type="button" class="btn btn-success btn-sm mt-2" name="editar">Editar categoria</button></a>
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-danger btn-sm mt-2" name="excluir">Excluir categoria</button>
      </div>
      </form>
    </div>
  </div>
{{else}}
<h4 class="mt-3">Nenhuma categoria registrada!</h4>
{{/each}}
