<h2>Postagens </h2>
<hr>
<a href="/admin/postagens/add" <button type="button" name="button" class="btn btn-success">Nova Postagem</button></a>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <p>Descrição: {{descricao}}</p>
      <small>Data: {{data}}</small><br>
      <small>Categoria: {{categoria.nome}}</small>
      <hr>

      <form action="/admin/postagens/deletar" method="POST">
        <div class=" d-md-block">
          <a href="/admin/postagens/edit/{{_id}}"><button type="button" class="btn btn-success btn-sm mt-2" name="button">Editar postagem</button></a>
          <input type="hidden" name="id" value="{{_id}}">
          <button type="submit" class="btn btn-danger btn-sm mt-2" name="excluir">Excluir postagem</button>
        </div>
      </form>

    </div>
  </div>
{{else}}
  <p>Nenhuma postagem registrada!</p>
{{/each}}
