<div class="card">
  <div class="card-header">
    <h3>Bem vindo ao Blog do Gui</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Junte-se a nós</h5>
    <p class="card-text">Destinado a busca de conhecimentos na área de programação.</p>
    <a href="/usuarios/registro" class="btn btn-primary">Criar conta</a>
  </div>
</div>

<hr>
<h3>Postagens recentes:</h3>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <p>{{descricao}}</p>
      <a href="/postagem/{{slug}}" ><button type="button" name="button" class="btn btn-success btn-sm">Leia mais</button></a>
      <hr>
      <small>{{categoria.nome}} || </small>
      <small>Publicado: {{data}}</small>
    </div>
  </div>
{{else}}
<h5>Nenhuma postagem!</h5>
{{/each}}
